# Screenshots
screenshots/*.png
!screenshots/.gitkeep

# Reports
reports/allure-report/
reports/screenshots/
reports/*.json
!reports/.gitkeep

# Node
node_modules/

# OS
Thumbs.db
.DS_Store

tests/*
!tests/template.*

features/*
!features/template.feature
